.resume-section{
  border: 1px solid rgb(84, 84, 84);
  border-radius: 10px;
  width: 89%;
  margin: 30px auto;
  padding: 30px;
}

.section-heading{
  text-align: left;
  margin-bottom: 50px;
  font-size: 3vw;
  font-weight: 700;
  color: var(--text-color);
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(84, 84, 84);
}
.container{
  padding: 0 5px;
}
.field{
  margin-bottom: 20px;
}
.field p{
  font-size: 2.2vw;
  color: #007FF1;
  font-weight: 600;
  padding: 10px 0;
}

.options{
  padding: 15px 0;
}
.options-role{
  font-size: 1.2vw;
  color: var(--text-color);
}
.options-level{
  font-size: 1vw;
  color: var(--sub-text-color);
}
.options-year{
  font-size: 1.1vw;
  color: var(--sub-text-color);
}
.options-name{
  font-size: 1.3vw;
  font-weight: 500;
  color: var(--text-color);
}
.cv-field{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cv-field i{
  padding:  0 5px;
}
.cv-field a{
  margin-top: 50px;
  padding: 10px 20px;
  color: var(--text-color);
  color: #fff;
  font-weight: 700;
  font-size: 1.3vw;
  border-radius: 5px;
  background-color: #007FF1;
}

@media screen and (max-width: 900px) {
  .field p{
    font-size: 3.3vw;
  }
  .options{
    padding: 15px 0;
  }
  .options-role{
    font-size: 1.8vw;
  }
  .options-level{
    font-size: 1.9vw;
  }
  .options-year{
    font-size: 1.8vw;
  }
  .options-name{
    font-size: 2vw;
    font-weight: 500;
  }  
  .cv-field a{
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  .field p{
    font-size: 3.9vw;
  }
  .options{
    padding: 15px 0;
  }
  .options-role{
    font-size: 2.8vw;
  }
  .options-level{
    font-size: 2.4vw;
  }
  .options-year{
    font-size: 2.8vw;
  }
  .options-name{
    font-size: 3.1vw;
    font-weight: 500;
  }  
  .cv-field a{
    font-size: 3.3vw;
  }
}