.about-section{
  border: 1px solid rgb(84, 84, 84);
  margin: 0 auto;
  width: 89%;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.section-heading{
  text-align: center;
  margin-bottom: 50px;
  font-size: 3vw;
  font-weight: 700;
  color: white;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(84, 84, 84);
}

.about-container{
  display: flex;
  justify-content: center ;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  gap: 30px;
}
#about-img{
  height: auto;
  border-radius: 10px;
  width: 25vw;
  max-width: 300px;
}
#about-text{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: ;
  height: auto;
  padding: 20px;
  gap: 2vw;
}
#about-text h2{
  font-size: 3vw;
  font-weight: 700;
  color: white;
  padding: 5px;
}
#about-text p{
  font-size: 1.4vw;
  color: rgb(200, 197, 197);
}


@media screen and (max-width: 920px) {
  #about-img{
    max-width: 20vw;
  }
  #about-text p{
    font-size: 1.9vw;
  }
}

@media (max-width: 560px) {
  .about-container{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    width: 95%;
  }
  #about-img{
    height: auto;
    border-radius: 10px;
    width: 40vw;
    max-width: 400px;
  }
  #about-text{
  }
  #about-text p{
    font-size: 3vw;
  }
}