.navbar{
 display: flex; 
 justify-content: center;
 align-items: center;
 background-color: #2d2d2d;
 height: 4rem;
 width: 100%;
 border-bottom: 1px solid white;
 position:fixed;
}

.navbar i, .nav-sidebar, button {
  display: none;
}

/* home section */
.nav-main{
  display: flex;
  text-align: center;
  width: 45%;
}
#nav-home{
  text-decoration: none;
  padding: 0 10px;
  color: white;
  font-weight: 800;
  font-size: 2.2vw;
}
#nav-home:hover{
  color: rgb(189, 186, 186);
}

/* nav options section  */
.nav-sub{
  display: flex;
  justify-content: end;
  gap: 4rem;
  text-align: center;
  width: 45%;
}
#nav-link{
  color: whitesmoke;
  padding: 5px 10px;
  /* font-weight: 300; */
  font-size: 1.4vw;
  text-decoration: none;
}
#nav-link:hover{
  color: rgb(189, 186, 186);
}
.nav-sidebar{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: #040404ec;
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 25vh;
  padding: 10px;
  margin-left: 5px ;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.nav-sidebar a:hover{
  color: rgb(189, 186, 186);
}
.nav-sidebar i:hover{
  color: rgb(189, 186, 186);
  cursor: pointer;
}
.navbar i:hover{
  color: rgb(189, 186, 186);
}

@media (max-width: 800px) {
  #nav-home{
    font-size: 3vw;
  }
  .nav-sub a{
    display: none;
  }
  .navbar i{
    display: block;
    font-size: 4vw;
    color: white;
    cursor: pointer;
    padding: 5px;
  } 
  .navbar button{
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
  } 
}
.nav-sidebar a{
  width: 100%;
  margin: 10px;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}


@media (max-width: 500px) {
  #nav-home{
    font-size: 4vw;
    margin-left: 10px;
  }
  .navbar i{
    display: block;
    font-size: 4.5vw;
    margin-right: 10px;
  }

} 