.navbar{
 display: flex; 
 justify-content: center;
 align-items: center;
 background-color: #2d2d2d;
 height: 4rem;
 width: 100%;
 position: fixed;
 z-index: 9999;
 color: white;
}

.navbar i, .nav-sidebar{
  display: none;
}

/* home section */
.nav-main{
  display: flex;
  text-align: center;
  width: 45%;
}
#nav-home{
  cursor: pointer;
  text-decoration: none;
  padding: 0 10px;
  font-weight: 800;
  font-size: 2.2vw;
}
#nav-home:hover{
  color: rgb(189, 186, 186);
}

/* nav options section  */
.nav-sub{
  display: flex;
  justify-content: end;
  gap: 4rem;
  text-align: center;
  width: 45%;
}
#nav-link{
  padding: 5px 10px;
  font-size: 1.4vw;
  cursor: pointer;
  text-decoration: none;
}
#nav-link:hover{
  color: rgb(189, 186, 186);
}
.nav-sidebar{
  position: fixed;
  top: 0;
  right: 0;
  background-color: #3d3d3d;
  height: 100vh;
  width: 22vh;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
#sidebar-items{
  cursor: pointer;
}
.nav-sidebar a:hover{
  color: rgb(189, 186, 186);
}
.nav-sidebar i:hover{
  color: rgb(189, 186, 186);
  cursor: pointer;
}
.navbar i:hover{
  color: rgb(189, 186, 186);
}

.active{
  border-bottom: 3px solid #007FF1;
  scroll-behavior: smooth;
}

@media (max-width: 900px) {
  #nav-home{
    font-size: 3vw;
  }
  .nav-sub a{
    display: none;
  }
  .navbar i{
    display: block;
    font-size: 4vw;
    color: white;
    cursor: pointer;
    padding: 5px;
  } 
  .navbar button{
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
  } 
  .nav-sidebar a{
    width: 90%;
    margin: 10px;
    color: white;
    text-decoration: none;
    padding: 10px 35px;
  }  
}


@media (max-width: 500px) {
  #nav-home{
    font-size: 5.5vw;
    margin-left: 10px;
  }
  .navbar i{
    display: block;
    font-size: 5.5vw;
    margin-right: 10px;
  }

} 