.navbar{
 display: flex; 
 justify-content: center;
 align-items: center;
 background-color: var(--page-bg-color);
 height: 4rem;
 width: 100%;
 position: fixed;
 z-index: 9999;
 color: var(--text-color);
}

.navbar i, .nav-sidebar{
  display: none;
}

/* home section */
.nav-main{
  display: flex;
  text-align: center;
  width: 45%;
}
#nav-home{
  cursor: pointer;
  text-decoration: none;
  padding: 0 10px;
  font-weight: 800;
  font-size: 2.2vw;
}
#nav-home:hover{
  color: var(--text-hover-color);
}

/* nav options section  */
.nav-sub{
  display: flex;
  justify-content: end;
  gap: 4rem;
  text-align: center;
  width: 45%;
}
#nav-link{
  padding: 5px 10px;
  font-size: 1.3vw;
  cursor: pointer;
  text-decoration: none;
}

#nav-link:hover{
  color: var(--text-hover-color);
}
#theme-icon{
  font-size: 1.4vw;
  padding: 10px 5px;
  color: var(--text-color);
  border: none;
  outline: none;
}
#theme-icon:hover{
  color: var(--text-hover-color);
}

.nav-sidebar{
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--nav-sidebar-bg-color);
  height: 100vh;
  width: 22vh;
  border-top-left-radius: 15px;
  color: var(--text-color);
  border-bottom-left-radius: 15px;
  padding: 10px;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
#sidebar-items{
  cursor: pointer;
}
.nav-sidebar a:hover{
  color: var(--text-hover-color);
}
.nav-sidebar i:hover{
  color: var(--text-hover-color);
  cursor: pointer;
}
.navbar i:hover{
  color: var(--text-hover-color);
}

.active{
  border-bottom: 3px solid #007FF1;
  scroll-behavior: smooth;
}

@media (max-width: 900px) {
  #theme-icon{
    font-size: 2.1vw;
    padding: 5px 0;
    color: var(--text-color);
    display: flex;
    width: max-content;
    align-items: center;
    cursor: pointer;
  }
  #theme-icon:hover{
    color: var(--text-hover-color);
  }
  #theme-icon-text{
    font-size: 2.2vw;
    font-weight: 500;
    padding: 0 5px;
    font-family: "Montserrat", sans-serif;
  }
  #nav-home{
    font-size: 3vw;
  }
  .nav-sub a{
    display: none;
  }
  .navbar i{
    display: block;
    font-size: 3.5vw;
    color: var(--text-color);
    cursor: pointer;
    padding: 5px;
  } 
  .navbar button{
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
  } 
  .nav-sidebar a{
    width: 90%;
    margin: 10px;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 35px;
  }  
}


@media (max-width: 500px) {
  #nav-home{
    font-size: 5.5vw;
    margin-left: 10px;
  }
  .navbar i{
    display: block;
    font-size: 5.5vw;
    margin-right: 10px;
  }
  #theme-icon{
    font-size: 4vw;
  }
  #theme-icon-text{
    font-size: 4vw;
    font-weight: 500;
  }

} 